@import "tailwindcss";

@theme {
  --color-background: #0F0F12;
  --color-surface: #1A1A1E;
  --color-accent: #00D1FF;
  --color-success: #00FF94;
  --color-warning: #FFB800;

  --font-display: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --animate-scan: scan 2s linear infinite;

  @keyframes scan {
    0% {
      top: 0%;
      opacity: 0;
    }

    5% {
      opacity: 1;
    }

    95% {
      opacity: 1;
    }

    100% {
      top: 100%;
      opacity: 0;
    }
  }
}

body {
  background-color: var(--color-background);
  color: white;
  font-family: var(--font-display);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}